@model RestaurantManagement.Entities.Customer
@Html.Partial("_Message") 

<div class="container border mt-4 pt-4">
    <div class="row"> 
    <div class="col-12"> 
    @if (Model.Id == 0)
    {
        <h2>Add New Customer</h2>
    }
    else
    {
        <h2>Update Customer# @Model.Id</h2>
    }

</div>
<hr />
    </div>
    <form method="post" action="#"> 
    <input type="hidden" asp-for="Id" />
    <div class="row mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

        <div class="row mb-3">
            <label asp-for="TotalOrders" class="form-label"></label>
            <textarea asp-for="TotalOrders" class="form-control"></textarea>
            <span asp-validation-for="TotalOrders" class="text-danger"></span>
        </div>
        <div class="row ">
            <div class="col-6">
                <button type="submit" class="btn btn-outline-success">
                <i class="bi bi-save"></i>&nbsp;Submit
                </button>

&nbsp;
                <a asp-action="Index" asp-controller="Customer" class="btn btn-outline-warning">
                <i class="bi bi-arrow-left"></i>&nbsp;Back To Home
            </a>

</div>

        </div>
    </form>
</div>
@section Scripts {
    @Html.Partial("_ValidationScriptsPartial" )
}
  